APP_ENV=local
APP_STORAGE=mysql

DB_HOST=127.0.0.1
DB_PORT=3307
DB_DATABASE=u557144898_plantas
DB_USERNAME=u557144898_user_plantas
DB_PASSWORD=pon_aqui_tu_password_mysql
DB_CHARSET=utf8mb4

OPENAI_API_KEY=pon_aqui_tu_api_key_openai

SSH_HOST=92.113.28.187
SSH_PORT=65002
SSH_USER=u557144898
SSH_REMOTE_DB_HOST=127.0.0.1
SSH_REMOTE_DB_PORT=3306
SSH_LOCAL_DB_PORT=3307
